@charset "UTF-8";
/* CSS Document */

/*a,img{border:none;}*/
/*body{background:#FFF; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;}*/
body{background:#FFF; margin:0; padding:0; font-family:"GRGAREF_0", Arial, Helvetica, sans-serif; font-size:16px; line-height:18px;}
img.vn{width:75px}
#boxCmingSoon{width:720px; margin:0 auto; padding: 0 0 50px 0; clear:both; color:#4c4c4c;}
#boxContact{width:720px; margin:0 auto; padding: 0 0 50px 0; clear:both; color:#4c4c4c;}
.address{font-size: 19px; padding-top: 10px;}
.logoCming{text-align:center; padding: 30px 0 20px 0; clear:both;}
.boxCtnerCming{background:url(../images/bgcomingsoon.jpg) repeat; margin-top:30px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding: 40px 40px;}
.boxCtnerCming1{background:url(../images/bgcomingsoon.jpg) repeat; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding: 20px 50px; width: 620px}
.titleCming{background:url(../images/bglinetitleCmning.jpg) top left repeat-x; clear:both; margin-bottom:30px; line-height:13px; text-align:center;}
.titleCming span{background:url(../images/bgcomingsoon.jpg) repeat; padding:4px 10px 4px 10px; font-size:16px; font-weight:bold;}
.textboxCming{background:url(../images/bgtextBoxCming.jpg) repeat-x; float:left; margin-right:10px; height:38px; border:1px solid #e1e1e1; line-height:38px; padding-left:10px; color:#888; font-size:18px;}
.btnSendMailCming{background:url(../images/btnSubmitCming.jpg) no-repeat; float:left; color:#FFF; font-size:14px; font-weight:bold; width:96px; height:42px; border:none; display:block; cursor:pointer;}
.boxEmailCming{padding:20px 0 20px 40px; line-height:38px; font-size:18px; clear:both; /* border-bottom:1px solid #e1e1e1; */}
.fleft{float:left;}
.fright{float:right;}
.btomFter{text-align:center; margin: 20px auto 10px;}
a.contactUs{background:url(../images/contactUs.jpg) left no-repeat; margin-left: 90px; padding-left:30px; float:left; font-size:14px; text-transform:uppercase; line-height:22px; color:#747474; display:block; text-decoration:none;}
a.subcri{background:url(../images/subcribeUs.jpg) left no-repeat; margin-left: 15px; padding-left:30px; line-height:22px; float:left; text-transform:uppercase; font-size:14px; color:#747474; display:block; text-decoration:none;}
a.readmagazine{background:url(../images/readmagazine.png) left no-repeat; margin-left: 15px; padding-left:30px; line-height:22px; float:left; text-transform:uppercase; font-size:14px; color:#747474; display:block; text-decoration:none;}
a.event{background:url(../images/event_icon.png) left no-repeat; margin-left: 15px; padding-left:30px; line-height:22px; float:left; text-transform:uppercase; font-size:14px; color:#747474; display:block; text-decoration:none;}
#lineH1{
	background-color: #ededed;
	margin-top: 10px;
	height: 1px;
	width: 100%;
}
.padB20{padding-bottom:20px;}
.padL200{padding-left:200px;}
.clear{ clear:both;}
.boxCtnerCming1 #divImg{
	margin-left: 50px;
}
#wrapper{
	height:233px;
}